name: paquexpress_app
description: Aplicación móvil para entregas Paquexpress
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Librerías principales
  http: ^1.2.2
  image_picker: ^1.0.7
  geolocator: ^10.1.0
  flutter_map: ^7.0.2
  latlong2: ^0.9.0

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
